:root {

    --bg-highlight: white;
    --text-color-highlight: black;

    --color-scheme-a-1: rgb(255, 183, 183);
    --color-scheme-a-2: rgb(255, 206, 183);
    --color-scheme-a-3: rgb(255, 230, 183);
    --color-scheme-a-4: rgb(248, 255, 183);
    --color-scheme-a-5: rgb(239, 255, 183);

    --color-scheme-b-1: rgb(148, 212, 255);
    --color-scheme-b-2: rgb(148, 176, 255);
    --color-scheme-b-3: rgb(148, 160, 255);
    --color-scheme-b-4: rgb(148, 146, 255);
    --color-scheme-b-5: rgb(148, 128, 255);

    --color-scheme-c-1: rgb(134, 255, 134);
    --color-scheme-c-2: rgb(134, 255, 174);
    --color-scheme-c-3: rgb(134, 255, 188);
    --color-scheme-c-4: rgb(134, 255, 205);
    --color-scheme-c-5: rgb(134, 247, 255);

    --color-scheme-d-1: rgb(230, 134, 243);
    --color-scheme-d-2: rgb(255, 134, 220);
    --color-scheme-d-3: rgb(243, 134, 188);
    --color-scheme-d-4: rgb(243, 134, 152);
    --color-scheme-d-5: rgb(243, 134, 128);

    --font-family-header: 'Tahoma';
    --font-family-h: 'Tahoma';

}
.diva1 {background-color: var(--color-scheme-a-1);}
.diva2 {background-color: var(--color-scheme-a-2);}
.diva3 {background-color: var(--color-scheme-a-3);}
.diva4 {background-color: var(--color-scheme-a-4);}
.diva5 {background-color: var(--color-scheme-a-5);}

.divb1 {background-color: var(--color-scheme-b-1);}
.divb2 {background-color: var(--color-scheme-b-2);}
.divb3 {background-color: var(--color-scheme-b-3);}
.divb4 {background-color: var(--color-scheme-b-4);}
.divb5 {background-color: var(--color-scheme-b-5);}

.divc1 {background-color: var(--color-scheme-c-1);}
.divc2 {background-color: var(--color-scheme-c-2);}
.divc3 {background-color: var(--color-scheme-c-3);}
.divc4 {background-color: var(--color-scheme-c-4);}
.divc5 {background-color: var(--color-scheme-c-5);}

.divd1 {background-color: var(--color-scheme-d-1);}
.divd2 {background-color: var(--color-scheme-d-2);}
.divd3 {background-color: var(--color-scheme-d-3);}
.divd4 {background-color: var(--color-scheme-d-4);}
.divd5 {background-color: var(--color-scheme-d-5);}


.main_body {
    color: black;
    background-color: var(--bg-main);

    padding: 25px 25px;
}


td, th {
    text-align: left;
    padding: 8px;
    min-width:200px;
}

.cute_table > td, th {
    border: 1px solid #000000;
}

.cute_table > tr:nth-child(even) {
    background-color: rgba(0, 226, 238, 0.1);
}

.highlight_section {
    min-height:100px;
    justify-content: center;
    list-style-type: none;

    display: inline-block;
    flex-wrap: wrap-reverse;
    flex-wrap: initial;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.highlight_data {
    width: 100%;
}

.highlight_gallary {
    margin: 0 auto;
    width: 75%;
    padding-left:24px;

    border-color:blue;
}

.project_page {}


/* For singluar rows. */
.data_holder_single {
    display: table;
    margin: 0 auto;
    width:75%;
}

.info_section {
    border-radius: 25px;
    border: 1px solid black;
    display: table;
    margin: 0 auto;
    
    padding:25px;
}

.info_section > h1 {}

.info_section > p {}

br {
    min-height:50px;
}
/* For double-bubble infor rows */
.data_holder_double {
    display: table;
    margin: 0 auto;
    width:75%;

    list-style-type: none;

    display: inline-block;
    flex-wrap: wrap-reverse;

    column-gap: 5%;
    row-gap: 50px;
}
@supports (display: grid) {
    .data_holder_double {
        flex-wrap: initial;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 950px) {
        .data_holder_double {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


/* For image / text boxes */
.inner_img {}

.inner_data {
    
}

.section_title {}

.github_holder {
    text-align: center;
}
