

.main_layout {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "title          title"
    "name           name"
    "title1         title1"  
    "personal       personal"
    "title2         title2"
    "professional   professional"
    "contact        interests"

}

/* For large displays
@media (min-width:1050px) {
    .main_layout {
        display: grid;
        width: 95%;
        margin: 0 auto;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "title      title"
        "name       name"
        "title1     title2"
        "personal   professional"
        "contact    interests"
    }
}    */


.vdiv2_div {
    min-height: 75px;
    grid-area:vdiv1;
}
.vdiv1_div {
    min-height: 75px;
    grid-area:vdiv2;
}

.title_div {
    grid-area:title;
    text-align: center;
}
.title1_div {
    grid-area:title1;
    text-align: left;
}
.title2_div {
    grid-area:title2;
    text-align: left;
}
.name_div {
    grid-area:name;
    text-align: center;
}
.degree_div {
    grid-area:degree;
    text-align: center;
}
.interst_div {
    grid-area:interests;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px black solid;
}

.contact_div {
    grid-area:contact;
    padding-left: 25px;
}
.degree_div {
    grid-area:degree;
    text-align: center;
    
    /* border: 4px purple solid; */
}

.personal_div {
    grid-area:personal;
}
.professional_div {
    grid-area:professional;
}