

/*SECTION ONE: NAVIGATION BUTTONS*/

.header_button_holder {

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0px;
    padding-bottom: 1px;

    justify-content: center;
    list-style-type: none;

    display: inline-block;
    flex-wrap: wrap-reverse ;

}
@supports (display: grid) {
    .header_button_holder {
        flex-wrap: initial;
        display: grid;
        grid-gap: 10px 0px;
        grid-template-columns: repeat(2, 1fr);
    }
    .header_button {
        min-width: 250px;
    }
    @media (min-width: 950px) {
        .header_button_holder {
            grid-template-columns: repeat(6, 180px);
        }
        .header_button {
            min-width: 160px;
        }
    }
}

div.outer_button_holder {
    text-align: center;
    padding-bottom: 150px;
}

div.inner_button_holder {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    align-content: center;
    align-items: center;
}

div.homepage_name_div {
    text-align: center;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 25px;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/
}

.header_button {

    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;

    border-style: solid;
    text-decoration: none;
    margin-left: 25px;
    /*min-width: 160px;*/
    white-space: nowrap;
    display: inline-block;
    height:100%;
    line-height:100%;

    transition: min-width 0.25s;
    cursor: pointer;
}

.header_button_li {
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}



/*SECTION TWO: Different Sections*/


.home_page_section {
    min-height: 450px;

    text-align: left;
    justify-content: center;
    list-style-type: none;
}

.wide_section {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 100px;
}

.horizontal_scroll_list {
    width:100%;
    height:100%;

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/
    overflow-y: visible;
    overflow-x: auto;

    white-space: nowrap;

    vertical-align: text-top;

}

.scroll_block {
    min-height: 350px;
    height: 100%;
    width:350px;

    border-style: solid;

    white-space: nowrap;
    display: inline-block;
    line-height:100%;
    padding: 10px 10px;
    margin-right: 15px;
}
.scroll_block:hover {
    background-color: rgba(63, 0, 0, 0.44);
    opacity: 0.3;
}


.linear_display_list {
    width:100%;
    height:100%;

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    /*white-space: nowrap;*/
}

.linear_block {
    min-height: 350px;
    width:40%;

    border-style: solid;

    white-space: nowrap;
    display: inline-block;
    line-height:100%;

    padding: 10px 10px;

    transition: all 0.5ms;

    margin-right: 25px;
    margin-bottom: 25px;

}


.block_image_div{
    text-align: center;
    height:60%;
    width:100%;
}
.block_image {
    object-fit: cover;
    max-width: 100%;
    width: 200px;
    height: 200px;
}
.block_info_div{
    height:40%;
    width:100%;
}

@supports (display: grid) {
    .linear_block {
        width:100%;
    }
    @media (min-width: 700px) {
        .linear_block {
            width:45%;
        }
    }
    @media (min-width: 1050px) {
        .linear_block {
            width:30%;
        }
    }
    @media (min-width: 1400px) {
        .linear_block {
            width:22.5%;
        }
    }
}

/*TAKEN FROM https://stackoverflow.com/questions/44334106/how-can-i-style-horizontal-scrollbar-by-css/44334343*/
::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}


.linear_block:hover {
    background-color: rgba(63, 0, 0, 0.44);
    opacity: 0.3;
}

a.link_block {
    background-color: var(--button-color-pasive-1);
    color: black;
}

a.link_block:hover {
    background-color: var(--button-color-hard-1);
    color: white;
    border-color: black;
}

h4.project_title {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 20px;
    white-space: normal;
}

p.project_subtitle {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 17px;
    white-space: normal;
}

p.relevant_data {
    font-family: var(--font-family-h);
    color: darkslategrey;
    padding-bottom: 2px;
    font-size: 15px;
    line-height: 22px;
    white-space: normal;
}


h4.company_name {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 20px;
    white-space: normal;
}

p.position_title {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 17px;
    white-space: normal;
}

p.time_info {
    font-family: var(--font-family-h);
    color: darkslategrey;
    padding-bottom: 2px;
    font-size: 15px;
    line-height: 22px;
    white-space: normal;
}

p.job_tagline {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 22px;
    white-space: normal;
}

h3.article_title {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 20px;
    white-space: normal;
    line-height: 22px;
}

p.article_cliffnotes {
    font-family: var(--font-family-h);
    color: black;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 17px;
    white-space: normal;
}